.navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.button-group {
  display: flex;
  gap: 20px;
}

.login-button, .search-button, .like-button, .shopping-basket-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.login-icon, .fa-search, .like-icon, .shopping-basket-icon {
  font-size: 24px;
}

.login-button div, .search-button div, .like-button div, .shopping-basket-button div {
  margin-top: 5px;
  font-size: 14px;
}

.login-button {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.login-icon {
  margin-right: 5px;
  margin-top: 4px;
  margin-left: 5px;
}

.card-container {
  transition: all 0.1s linear;
}

.card-container:hover {
  transform: scale(1.1);
}

.nav-section {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
  
}

.menu-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-left: 0;
  
}

.menu-list li {
  padding: 10px;
  
}

.menu-list a {
  text-decoration: none;
  color: inherit; /* 부모 요소의 색상을 상속받습니다. */
}

.menu-list a:hover {
  text-decoration: underline;
}

.search-container {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  max-width: 230px;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  font-size: 16px;
  margin-right: 23px;
}

.search-container .fa-search {
  position: absolute;
  left: 10px;
  color: black;
}

.login-container {
  width: 1000px;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}

.add-to-cart-button {
  width: 650px;
  padding: 10px 100px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.add-to-cart-button:hover {
  background-color: #333;
}

.product-details {
  margin: 20px 0;
}

.product-title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.product-price {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-choice {
  font-size: 0.8em;
  color: gray;
  margin-bottom: 20px;
}

.add-to-cart-button {
  margin-top: 20px;
}

.product-new {
  font-size: 0.8em;
}

.product-cardChoice {
  font-size: 0.8em;
  color: gray;
  margin-bottom: 10px;
}

.hide {
  visibility: hidden;
}

.button-text {
  display: block;
}

.search-button{
  display: none;
}

/* 화면 크기가 600px 이하일 때 검색 버튼 표시 */
@media screen and (max-width: 600px) {
  .search-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* 다른 버튼들의 텍스트 숨기기 */
  .login-button div,
  .like-button div,
  .shopping-basket-button div {
    display: none;
  }

  /* 중앙 메뉴와 검색 상자 숨기기 */
  .menu-area {
    display: none;
  }
  .search-container {
    display: none;
  }
}

.side-menu {
  height: 100%;
  width: 0; /* 초기에는 보이지 않도록 너비를 0으로 설정 */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(189, 42, 42);
  overflow-x: hidden;
  transition: 0.5s; /* 너비가 변화할 때의 트랜지션 효과 */
  padding-top: 60px;
  z-index: 2;
}

.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
  color: white;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: black;
  border-radius: 3px;
}

.burger-menu {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
}

.login-section {
  position: absolute;
  top: 10px;
  right: 20px;
}

.dropdown-search-container {
  position: absolute;
  right: 0;
  top: 50px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 200px;
}


.card-container {
  position: relative;
}

.img-wrapper {
  position: relative;
}

.img-like-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: gray; /* 기본 색상 */
}

.img-like-button .liked {
  color: red; /* 좋아요 클릭 시 색상 */
}